---
import { t, type Locale } from "@/i18n";
import HeroTextInput from "@features/Hero/HeroTextInput";

interface Props {
  locale: Locale;
}
const { locale }: Props = Astro.props;
---

<div class="relative h-screen min-h-[540px] w-screen md:min-h-[680px]">
  <div
    class="absolute inset-0 z-0 h-[95%] w-full overflow-hidden rounded-b-[20px] bg-teal-400 md:rounded-b-[40px]">
  </div>
  <div
    class="relative flex h-full w-full flex-col items-center justify-center gap-16 pt-16 md:gap-14 lg:pt-20">
    <h1 class="w-[85%] text-center text-white lg:max-w-[800px]">
      {t(locale, "hero.title-1")}<br class="hidden sm:block" />
      <span class="text-green-300">{t(locale, "hero.title-2")}</span>{
        t(locale, "hero.title-3")
      }
    </h1>
    <p
      class="text-white-50 paragraph-1 w-[70%] text-center lg:max-w-[580px]"
      data-testid="hero-description">
      {t(locale, "hero.caption")}
    </p>
    <HeroTextInput
      buttonTitle={t(locale, "hero.cta")}
      variant="accent"
      placeholder={t(locale, "hero.text-input-placeholder")}
    />
  </div>
</div>
